@font-face {
  font-family: "robotoregular";
  src: url("roboto-regular-webfont.woff2") format("woff2"), url("roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media screen and (min-width: 375px) {

	h1, h2, h3,h4, p, span, button {
	  font-family:robotoregular; 
	}
	a {
	  text-decoration: none;
	  color: black;
	}
	#logo {
	  background-color: #f3e9f1;
	  width: 100%;
	  border-bottom: 1px solid black;
	  display: flex;
	  justify-content: space-between;
	}
	#logo img {
		height: 40px;
		margin-top: 4px;
  		margin-left: 5px;
	}
	#logo .fa-arrow-left {
		font-size: 1.3em;
	    position: relative;
	    bottom: 10px;
	    left: 10px;
	    margin-right: 25px;
	}
	.icon {
		margin-top: 15px;
	  	margin-right: 10px;
	}

	.icon .fas,.far {
	  	margin-right: 10px;
	}
	.icon i:nth-child(2){
	  	font-weight: 100;
	}
/*FIN DU HEADER */
/*BARRE DE RECHERCHE*/
.search input {
    margin: .4rem 0;
    padding: 10px;
    width: 88%;
    border-radius: 10px;
    font-family:  'Fira Sans', sans-serif;
    border-color:#f3e9f1; 
    box-shadow: 0px 4px 5px #bfbfbf;
}
.search button {
  padding: 10px;
  border-radius: 10px;
  font-family:  'Fira Sans', sans-serif;
  border-color:#f3e9f1; 
  box-shadow: 0px 4px 5px #bfbfbf;
}

/*SECTION*/
.panier {
	height: 300px;
	width: 100%;
	margin-top: 20px;
	box-shadow: 0px 4px 5px #bfbfbf;
}
h1 {
    font-size: 1.4em;
    margin: 0 0 25px 5px;
}
h2 {
	font-size: 1em;
	margin-bottom:5px;
}
.image img {
	width: 32%;
	height: 138px;
	object-fit: cover;
	margin: 0 0 5px 5px;
}
.image {
	display: flex;
}
.description input {
    margin: .4rem 0;
}
.description {
	margin-left: 10px;
}
.prix span {
	font-size: 0.7em;
}
.prix p {
	margin-top: 0;
	width: 100%;
}
.description p {
	margin-top: 0;
    width: 100%;
    margin-bottom: 15px;
}

.reserve p {
	margin-left: 10px;
	font-size: 0.8em;
}
.reserve .fas {
	margin-right: 10px;
}
.livraison {
	
	border-top: 1px solid #bfbfbf;
	padding: 5px 0 5px 0;
}
.livraison h2,p{
	margin-top: 5px;
	margin-left: 5px;
}
.total {
	border-top: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
	padding: 5px 0 5px 0;
	display: flex;
	justify-content: space-between;
}
.paiement {
	margin-top: 5px;
	border-bottom: 1px solid #bfbfbf;
	padding: 5px 0 5px 0;
}
.paiement h2 {
	margin-top: 5px;
	margin-left: 5px;
}
.paiement .fab {
	font-size: 2em;
	margin-right: 5px;
	margin-left: 5px;
}
.commander button {
	  width: 100%;
    margin: auto;
    background-color: #2c3869;
    border: none;
    color: white;
    border-radius: 25px;
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 4px 5px #bfbfbf;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

/*Formulaire */
form p {
  margin-top: 0px;
}
 
fieldset {
  margin-bottom: 15px;
  padding: 10px;
}
 
legend {
  padding: 0px 3px;
  font-weight: bold;
  font-variant: small-caps;
}
 
form label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}
 
em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
 
form input:focus {
  background: #eaeaea;
}
 
/*form input, textarea {
  width: 249px;
}*/
 
textarea {
  height: 100px;
}
 
select {
  width: 254px;
}
 
form input[type=checkbox] {
  width: 10px;
}
 
form input[type=submit] {
	width: 100%;
    margin: auto;
    background-color: #2c3869;
    border: none;
    color: white;
    border-radius: 25px;
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 4px 5px #bfbfbf;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
/*footer*/

  .footer {
    background-color: #303030;
    height: 200px;
    width: 100%;
    color: white;
  }

  footer p {
    font-size: 1.5em;
    padding: 15px 0 0 15px;
  }

  footer ul {
    list-style-type: none;
    padding: 0 0 0 15px;
  }

  footer ul li {
    margin-bottom: 10px;
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  footer .fas {
    margin-right: 10px;
  }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
	.search input {
		width: 89%;
	}
}
@media screen and (min-width: 768px) and (max-width: 980px) {
	.search input {
		width: 94%;
	}
}
@media screen and (min-width: 978px) {
	.search input {
		width: 96%;
	}
	section {
		width: 80%;
    	margin: auto;
	}
	.image img {
		height: 230px;
	}
	.panier {
		height: 330px;
	}
	.reserve p {
	 	margin-top: 16px;
	}
}